<footer id="footer" class="page-footer font-small blue pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3 pl-sm-4 pl-md-5">
        <h1>Logo</h1>
        <p class="mt-4">2017 Forma L.L.C. All right reserved</p>
      </div>

      <div class="col-md-3 mb-md-0 mb-3 pt-3">
        <h5 style="font-weight: normal;">Keep in touch with us</h5>
        <section class="mt-5">
          <span class="mr-3"><b>fb</b></span>
          <span class="mr-3"><b>tw</b></span>
          <span class="mr-3"><b>vm</b></span>
        </section>
      </div>

      <div class="col-md-1 mb-md-0 mb-3 pt-3">
        <dl class="contact-list">
          <dd>Festival Programm</dd>
        </dl>

        <dl class="contact-list">
          <dd>Support the Festival</dd>
        </dl>
      </div>

      <div class="col-md-1 mb-md-0 mb-3 pt-3">
        <dl class="contact-list">
          <dd>Plan Your Experience</dd>
        </dl>

        <dl class="contact-list">
          <dd>About</dd>
        </dl>
      </div>

      <div class="col-md-1 mb-md-0 mb-3 pt-3">
        <dl class="contact-list">
          <dd>Media</dd>
        </dl>
      </div>
    </div>
  </div>
</footer>