$background-color-footer: #222222;
$background-color-header: #F5F5F7;
$background-color-gray: #dbdbdb;


$font-color-card: #82828c;

$border-color-card: #e3e2e7;

$img-portada: "../assets/img/michelangelo.jpg";
$img-card-hover: "../assets/img/bg-cards.jpg";