<div class="container">
  <div class="row mb-5 mt-5 justify-content-center">
    <div class="card  ml-2 mr-2 bg-color">
      <div class="card-body ">
        <p class="card-text">2016 Festival & Performance Guide.</p>
      </div>
      <p class="pl-3 card-text-bottom">Octuber 8, 2017</p>
    </div>

    <div class="card ml-2 mr-2 bg-color">
      <div class="card-body ">
        <p class="card-text">Michelangelo: The quest for the sacred and eternal</p>
      </div>
      <p class="pl-3 card-text-bottom">Octuber 16, 2017</p>
    </div>

    <div class="card ml-2 mr-2 bg-color ">
      <div class="card-body">
        <p class="card-text">Grand Hall Music Festival presents James Simon's The Spirit World</p>
      </div>
      <p class="pl-3 card-text-bottom">Octuber 25, 2017</p>
    </div>

    <div class="card ml-2 mr-2 bg-color ">
      <div class="card-body">
        <p class="card-text">Robert Blakes's exhibition: An inmersive experience through time.</p>
      </div>
      <p class="pl-3 card-text-bottom">Octuber 1, 2017</p>
    </div>
  </div>
</div>