/* cuando el hover pasa cambia de color el card board */
.bg-color:hover{
    background-image: url("../../../assets/img/bg-cards.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-shadow: -5px 27px 26px 1px rgba(0,0,0,0.21);
    -moz-box-shadow: -5px 27px 26px 1px rgba(0,0,0,0.21);
    box-shadow: -5px 27px 26px 1px rgba(0,0,0,0.21);
    color: white;
    border: 3px solid blue;
}

.card {
    height: 238px;
    width: 269px;
    border: 1px solid #e3e2e7;
    font-weight: bold;
}

.card-text-bottom {
    color: #82828c;
    font-weight: normal;
}

.card .ml-2 .mr-2 .bg-color p {
    color: #82828c;
    font-weight: normal;
}