@media (max-width: 576px) { 
    .msg-carousel {
        position: absolute;
        top: 63%;
        left: 59%;
        height: 100% !important;
        width: 100% !important;
        /* height: 364px;
        width: 700px; */
        border: 1px solid white;
        transform: translate(-50%, -50%);
        z-index: 1000;
     }
}
.container {
    position: relative;
    text-align: center;
  }
  
 .msg-carousel {
    position: absolute;
    top: 63%;
    left: 59%;
    height: 80%;
    width: 50%;
    border: 1px solid white;
    transform: translate(-50%, -50%);
    z-index: 1000;
 }

 .msg-title-carousel {
    font-size: 3vh;
    text-align: left;
    font-weight: bold;
    
}

.msg-text{
    font-family: 'Times New Roman', Times, serif;
}

.btn-landing {
    color: black;
    font-size: 1rem;
    padding-left: 2em;
    padding-right: 2em;
    background-color: white;
    border: 2px solid black;
    font-weight: bold;
}

 .carousel-control-prev-icon,
 .carousel-control-next-icon {
   height: 30px;
   width: 30px;
   outline: black;
   background-size: 100%, 100%;
   border: 2px solid black;
   background-image: none;
 }
 
 .carousel-control-next-icon:after
 {
   content: '>';
   font-size: 15px;
   font-weight: bold;
   color: black;
 }
 
 .carousel-control-prev-icon:after {
   content: '<';
   font-weight: bold;
   font-size: 15px;
   color: black;
 }

 img {
     position: relative;
     top: 63%;
    left: 20%;
    height: 364px;
    width: 700px;
 }