<div class="container-fluid bg-gray">
    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-interval="10000">
              <div class="row">
                  <div class="card ml-2 mr-2 bg-white msg-carousel">
                    <div class="card-body mt-3 ml-4 mr-4">
                      <p class="msg-title-carousel">Winston Creek Regional Museum to host a new exhibit: An ocean of awe</p>
                      <p class="msg-text">Lorem ipsum dolor sit amet, consenctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore edt dolore
                        magna aliqua. Ut enim add minim veniam, quis nostrud exercitation ullmaco laboris nisi ut aliquip ex ea commodo
                        consequant. Duis aute irure dolor in reprehenderit in voluptate.
                      </p>
                      <a href="#" class="btn btn-landing">READ MORE</a>
                    </div>
                  </div>
                </div>
            <img src="../../../assets/img/slide-1.jpg" class="d-block w-50 w-sm-100" alt="...">
          </div>
          <div class="carousel-item" data-interval="2000">
              <div class="card ml-2 mr-2 bg-white msg-carousel ">
                  <div class="card-body mt-3 ml-4 mr-4">
                      <p class="msg-title-carousel">Winston Creek Regional Museum to host a new exhibit: An ocean of awe</p>
                      <p class="msg-text">Lorem ipsum dolor sit amet, consenctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore edt dolore
                        magna aliqua. Ut enim add minim veniam, quis nostrud exercitation ullmaco laboris nisi ut aliquip ex ea commodo
                        consequant. Duis aute irure dolor in reprehenderit in voluptate.
                      </p>
                    <a href="#" class="btn btn-primary btn-landing">READ MORE</a>
                  </div>
                </div>
            <img src="../../../assets/img/slide-2.jpg" class="d-block w-50" alt="...">
          </div>
          <div class="carousel-item">
              <div class="card ml-2 mr-2 bg-white msg-carousel ">
                  <div class="card-body mt-3 ml-4 mr-4">
                      <p class="msg-title-carousel">Winston Creek Regional Museum to host a new exhibit: An ocean of awe</p>
                      <p class="msg-text">Lorem ipsum dolor sit amet, consenctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore edt dolore
                        magna aliqua. Ut enim add minim veniam, quis nostrud exercitation ullmaco laboris nisi ut aliquip ex ea commodo
                        consequant. Duis aute irure dolor in reprehenderit in voluptate.
                      </p>
                    <a href="#" class="btn btn-primary btn-landing">READ MORE</a>
                  </div>
                </div>
            <img src="../../../assets/img/slide-1.jpg" class="d-block w-50" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
</div>
    